.navbar {
  background-color: black;
  display: flex;
  width: 100%;
  margin-left: -10px;
  margin-top: -10px;
  min-width: 1561px; 
  font-family: "Moonbeam Regular";

  .home {
    color: rgb(195, 75, 239);
    margin: 10px;
    font-size: 45px;
  }

  .link {
    color: rgb(195, 75, 239);
    margin: 10px;
    font-size: 45px;
    position: absolute;
    right: 10px;
    top: -10px;
  }

  .link1 {
    color: rgb(195, 75, 239);
    margin: 10px;
    font-size: 45px;
    position: absolute;
    right: 200px;
    top: -10px;
  }
}
