@import url(https://db.onlinewebfonts.com/c/3a775cc0fc167a7000d81c790839b807?family=Moonbeam+Regular);

h1 {
  text-align: center;
  font-size: 400%;
}

h2 {
  text-align: center;
  font-size: 200%;
}

p {
  font-size: 150%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  background-color: rgb(206, 179, 224);

  h1 {
    color: rgb(38, 57, 233);
    font-family: "Moonbeam Regular";
  }

  p {
    color: rgb(108, 37, 207);
  }
}

.link {
  @include hero;
  margin: 15px;
  font-size: 35px;
  left: 1060px;
  text-decoration: none;
}
