h1 {
  text-align: center;
  font-size: 450%;
}

p {
  font-size: 150%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  background-color: aqua;

  h1 {
    color: darkgreen;
  }

  p {
    color: darkorchid;
  }
}

.link {
  @include hero;
  color: deeppink;
  margin: 15px;
  font-size: 35px;
  left: 1060px;
  text-decoration: none;
}
